.env
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

*.log
*.bak
*.swp
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
*.egg
*.tar.gz
*.whl
coverage/
htmlcov/
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
.pyre_check/
.pytype_check/
.pyre_cache/
.pytype_cache/          
.streamlit
